<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RotaryWheelProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>506C37FD1BED4CB400E38134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>506C38111BED4CB500E38134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>506C381C1BED4CB500E38134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
